RewriteEngine On

# No sobreescriba Directorios
RewriteCond %{REQUEST_FILENAME}% !-d

# No sobreescriba Archivos (imagenes)
RewriteCond %{REQUEST_FILENAME}% !-f

# Permitir acceso a las fuentes
RewriteCond "%{REQUEST_URI}" !/public/font/*.*

# Permitir acceso a los documentos <PDF>
RewriteCond "%{REQUEST_URI}" !/public/docs/*.pdf|(.+)\.pdf

# Permitir acceso a las imagenes <PNG>
RewriteCond "%{REQUEST_URI}" !/public/images/*.png|(.+)\.png
RewriteCond "%{REQUEST_URI}" !/public/images/*.jpg|(.+)\.jpg

# Permitir acceso <CSS>
RewriteCond "%{REQUEST_URI}" !/public/css/*.css|(.+)\.css

# Permitir acceso <JS>
RewriteCond "%{REQUEST_URI}" !/public/css/*.js|(.+)\.js

# Reescribir la ruta de aquellas que tengan un caracter o mas
RewriteRule ^(.+)$ index.php [QSA,L]