nav
    .start
        h1#logo CI2T
        a(href="/public/images/CI2T-2020_general-program.png" target="_blank" class="link")
            h2 Programa
    .center
    .end
        .languages
            <?php foreach($props["links"] as $link => $p) { ?>
                <a <?php echo "href=$p[0]"; if($p[1]) echo " class='active lang'"; else echo " class='lang'" ?> >
                    h2 <?php echo strtoupper($link); ?>
                </a>
            <?php } ?>
        .burger
            .line
            .line
            .line