nav
    .start
        h1#logo CI2T
        a(href="/public/docs/LibGDX.pdf" target="_blank" class="link")
            h2 Programa
    .center
    .end
        .idioma
            a(href="#" class="link lang")
                h2 EN
            a(href="#" class="link lang active")
                h2 ES
        .burger
            .line
            .line
            .line