:root
  // DARK
  --color-dark #000000
  --color-dark-2 #060606
  // LIGHT
  --color-light #ffffff
  --color-light-2 #838383
  // COLORS
  --color-orange #ff9700


  // DEFAULT
  --color-bg-primary var(--color-dark)
  --color-bg-secundary var(--color-dark-2)

  --color-text-primary var(--color-light)
  --color-text-secundary var(--color-light-2)

  --color-accent var(--color-orange)