html
  scroll-behavior: smooth

body
  font-family BebasNeue
  background-color var(--color-bg-primary)
  color var(--color-text-primary)

body::-webkit-scrollbar
  width 8px
  height 100vh

.container
  width calc(100% - 8em)
  padding 0 4em
  padding-bottom 4em

.white
  background-color var(--color-light)
  color var(--color-dark)
  padding-top 8em
