html
  scroll-behavior: smooth

body
  font-family BebasNeue
  background-color var(--color-bg-primary)
  color var(--color-text-primary)
  background-image url("public/images/background.png")
  background-repeat no-repeat
  background-position center center
  background-size cover
  background-attachment fixed

body::-webkit-scrollbar
  width 8px
  height 100vh
a
  text-decoration none

.container
  width 80%
  padding 0 10%
  padding-bottom 4em

.white
  background-color var(--color-light)
  color var(--color-dark)
  padding-top 8em
