#info
  padding-top var(--size-header)
  height calc(100vh - var(--size-header))

.container
  padding 10em 15%
  p
    font-size 1.5em
    text-align justify

.link
  display block
  font-size 1.5em
  margin-top 2em

.conference
  display grid
  grid-gap 1em
  grid-template-columns 4em 1fr
  margin 4em 0 4em 0

  .nth
    display flex
    margin auto
    align-items center
    height 3em
    width 3em
    font-family BebasNeue
    font-weight bold
    justify-content center
    background-color var(--color-accent)

  .title
    display flex
    align-items center
    font-weight bold

  .description
    grid-column 2 / 3

  .more
    grid-column 2 / 3

a#download_poster
  display block
  margin 7em auto auto auto
  width 15em
  text-align center
  padding 1em
  font-size 1.2em
  font-weight bold
  background-color transparent
  border 0.1em solid var(--color-accent)
  color var(--color-accent)
  text-transform capitalize
  &:hover
    background-color var(--color-accent)
    color white