@import "reset.styl"
@import "colors.styl"
@import "default.styl"

.link
    font-size 1.2em
    text-decoration none
    color var(--color-text-primary)

#info
    display grid
    grid-template-columns 1fr 1fr
    font-size 3em
    line-height 1.25em
    margin 0 1em
    height calc(100vh - 5em)
    padding-bottom 5em

.data
    grid-column 2/3
    margin auto 0
    h3
        font-size 0.75em

.accent
    color var(--color-accent)

.highlight
    border-radius 0.3em
    padding 0 0.5em
    background-color var(--color-accent)

.btn-option
    display flex
    align-items center
    justify-content space-between
    margin-top 0.5em
    *
        width 49%

.btn
    outline none
    font-family BebasNeue
    font-weight bold
    font-size 0.4em
    background-color transparent
    border 1px solid transparent
    padding 1em 1.5em

.btn-primary
    background-color white
    border 2px solid white
    color black

.btn-secondary
    border 2px solid white
    color white

.container h1
    font-size 4em

p
    font-family Roboto
    font-size 2em
    margin-top 1em
    margin-bottom 2em

@import "navbar.styl"