:root
  --navbar-height 8em

nav
  display flex
  align-items center
  justify-content space-between
  height var(--navbar-height)
  padding 0 calc(var(--navbar-height) / 2)

  #logo
    font-size 4em
    margin-right 0.5em
    &::after
      content ""
      position relative
      background-color var(--color-text-primary)
      width 1px
      height 0.75em
      margin-left 0.5em
  *
    display flex
    align-items center

  .lang
    margin 0 0.2em

  .active
    color var(--color-text-secundary)

.burger
  display flex
  flex-wrap wrap
  flex-direction column
  justify-content space-between
  align-items flex-end
  height 2em
  margin-left 1.5em
  cursor pointer

.line
  user-select none
  width 4em
  height 4px
  background-color var(--color-text-primary)
  &:nth-child(2)
    width 3em