@font-face
    font-family BebasNeue
    font-weight normal
    src url("/public/font/BebasNeue-Regular.ttf")

@font-face
    font-family BebasNeue
    font-weight bold
    src url("/public/font/BebasNeue-Bold.otf")

@font-face
    font-family Roboto
    font-weight normal
    src url("/public/font/Roboto-Regular.ttf")

@font-face
    font-family Roboto
    font-weight bold
    src url("/public/font/Roboto-Bold.ttf")

*
    margin 0
    padding 0
    border 0