:root
  --size-scroll 5px

::-webkit-scrollbar
  background transparent
  width var(--size-scroll)

/* Track */
::-webkit-scrollbar-track
  background transparent

/* Handle */
::-webkit-scrollbar-thumb
  background: black
  border-radius: var(--size-scroll)

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: var(--color-accent)
  border-radius: var(--size-scroll)