<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CI2T :: <?php echo strtoupper($props['conference']); ?> - Virtual
    body
        include components/navbar.pug

        section.container
            h1 <?php echo $props['title'];?>
            .items
                <?php foreach($props['items'] as $item) { ?>
                .item
                    h2 <?php echo $item["title"]; ?>
                    <?php foreach($item["authors"] as $author) { ?>
                    p <?php echo $author["name"]; ?>
                    <?php } ?>
                <?php } ?>

        include components/footer.pug