<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CI2T :: <?php echo strtoupper($props['conference']); ?> - Virtual

        link(href="/public/css/fonts.css" rel="stylesheet")
        style
            include ../src/css/colors.css
            include ../src/css/default.css
            include ../src/css/scroll.css
            include ../src/css/header.css
            include ../src/css/footer.css
    body
        include components/navbar.pug
        include components/main.pug

        section.container(style="padding-top: var(--size-header)")
            h1 <?php echo $props['title'];?>
            .items
                <?php foreach($props['items'] as $item) { ?>
                .item
                    h2 <?php echo $item["title"]; ?>
                    <?php foreach($item["authors"] as $author) { ?>
                    p <?php echo $author["name"]; ?>
                    <?php } ?>
                <?php } ?>