<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CI2T :: <?php echo strtoupper($props['conference']); ?>

        link(href="/public/css/fonts.css" rel="stylesheet")
        style
            include ../src/css/colors.css
            include ../src/css/default.css
            include ../src/css/scroll.css
            include ../src/css/header.css
            include ../src/css/footer.css

    body
        include components/navbar.pug
        include components/main.pug

        section.container(style="padding-top: var(--size-header)")
            h1 <?php echo $props['conference']; ?>
            <a href=<?php echo $props['conference'];?>/virtual> Virtual </a>
            h1#title <?php echo $props['title'];?>
            p.description <?php echo $props['description'];?>
            .topics
                <?php foreach($props['topic'] as $topic) { ?>
                .topic
                    h2 <?php echo $topic["title"]; ?>
                    <?php foreach($topic['item'] as $item) { ?>
                    p <?php echo $item; ?>
                    <?php } ?>
                <?php } ?>

        include components/footer

        script(src="/public/js/header.js")