<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CI2T :: <?php echo strtoupper($props['conference']); ?>

        link(href="/public/css/fonts.css" rel="stylesheet")
        style
            include ../src/css/colors.css
            include ../src/css/default.css
            include ../src/css/scroll.css
            include ../src/css/header.css
            include ../src/css/footer.css
            include ../src/css/conference.css

    body
        include components/navbar.pug
        include components/main.pug

        section.container
            h1#title <?php echo $props['title'];?>
            img(src="/public/images/img7.jpg" style="padding-bottom: 3em" width="100%100%")
            h2 <?php echo $props['conference']; ?>
            p.description <?php echo $props['description'];?>
            .topics
                <?php foreach($props['topic'] as $topic) { ?>
                .topic
                    h4 <?php echo $topic["title"]; ?>
                        span(style="font-size:1em") +
                    ul
                        <?php foreach($topic['item'] as $item) { ?>
                        li <?php echo $item; ?>
                        <?php } ?>
                <?php } ?>

            .options
                <a class="download_poster" href=<?php echo $props['poster']; echo "> Download Poster"; ?></a>
                <a class="download_poster" href=<?php echo $props['conference'];?>/virtual> <?php echo strtoupper($props['conference']);?> Virtual </a>
        include components/footer

        script(src="/public/js/header.js")
        script(src="/public/js/conference.js")