<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        style
            include css/home.css
    body
        include components/navbar.pug
        #info
            .data
                h2 congreso internacional <br>de tecnologia tijuana
                h3.accent baja california, mexico | 24 - 26 oct
                .btn-option
                    button.btn.btn-secondary Visitar la cede del evento
                    button.btn.btn-primary Hospedaje cerca de la zona
        section#about.container
            h1(style="font-size:3.5em") La <span class="accent">cede del ci2t</span> <br>sera en las instalaciones <br>de la <span class="highlight">uabc</span>
            p Organizado por la Facultad de Ciencias Químicas e Ingeniería, como una plataforma de diseminación bilingüe para profesores, investigadores, estudiantes, graduados, y profesionistas, donde trabajos teoricos y/o prácticos serán presentados, además de promover nexos entre expertos y la industria.
            a(class="link" href="http://www.uabc.mx/" target="_blank")
                p.accent Visitar sitio de la universidad →

        section.white.container#other
            p Organizado por la Facultad de Ciencias Químicas e Ingeniería

        script
            include js/index.js