<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CI2T - Congreso Internacional de Tecnologia Tijuana
    body
        include components/navbar.pug

        section#info
            h2 <?php echo $props['name_event']; ?>
            h3.accent <?php echo $props['event_location']; ?>
            .btn-option
                <a href="<?php echo $props['link_home_opt_primary']; ?>" class="btn btn-secondary">
                    <?php echo $props['home_opt_primary'] ?>
                </a>
                <a href="<?php echo $props['link_home_opt_secondary'] ?>" class="btn btn-primary">
                    <?php echo $props['home_opt_secondary'] ?>
                </a>
        
        section#about.container
            h1 <?php echo $props['about_h1']; ?>
            p <?php echo $props['about_p']; ?>
            a(class="link" href="http://www.uabc.mx/" target="_blank")
                p.accent <?php echo $props['about_to_visit']; ?>

        section#conferences.container.white
            h1 <?php echo $props['conf_h1']; ?>
            .conferences
                <?php foreach($props['conferences'] as $conferenceId => $conference) { ?>
                <div class="conference" id=<?php echo $conferenceId; ?>>
                    i <?php echo $conference['esimo']; ?>
                    p.title <?php echo $conference['title']; ?>
                    p.description <?php echo $conference['description']; ?>
                    <a href="<?php echo $conference['link'] ?>">
                        <?php echo $conference['text_link'] ?>
                    </a>
                </div>
                <?php } ?>
            button#download_poster
                a(href="public/images/CI2T_2020_CFP.png" target="_blank") <?php echo $props['conf_dw_pt'] ?>

        include components/footer.pug